@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

:root {
  --green: #47a8e5;
  --black: #444;
  --light-color: #111;
  --box-shadow: 0.5rem 0.5rem 0 rgba(22, 160, 133, 0.2);
  --text-shadow: 0.4rem 0.4rem 0 rgba(0, 0, 0, 0.2);
  --border: 0.2rem solid var(--green);
}
.image {
  transition: transform 0.3s; /* Add a smooth transition effect */
}

.image:hover {
  transform: scale(1.03); /* Enlarge the image on hover */
}
.icons i {
  color: white;
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: all 0.2s ease-out;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 7rem;
  scroll-behavior: smooth;
}

section {
  padding: 2rem 9%;
}

section:nth-child(even) {
  background: #f5f5f5;
}
/* Define the active link style */
/* Define the active link style */
.nav-link.active {
  color: white; /* Change the text color to white */
  font-weight: bold; /* You can add additional styles as needed */
}


.heading {
  text-align: center;
  padding-bottom: 2rem;
  text-shadow: var(--text-shadow);
  text-transform: uppercase;
  color: var(--black);
  font-size: 5rem;
  letter-spacing: 0.4rem;
}

.heading span {
  text-transform: uppercase;
  color: var(--green);
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.5rem;
  padding-left: 1rem;
  border: var(--border);
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
  color: var(--green);
  cursor: pointer;
  font-size: 1.7rem;
  background: #47a8e5;
  color: white;
}
.header {
  padding: 2rem 9%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  box-shadow: 0 0.5rem 1.5rem rgba(226, 221, 221, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #47a8e5;
  color: white;
}

.header .logo {
  font-size: 2.5rem;
  color: var(--black);
}

.header .logo i {
  color: white;
}

.header .navbar a {
  font-size: 1.7rem;
  color: var(--light-color);
  margin-left: 2rem;
}

.header .navbar a:hover {
  color: white;
}

#menu-btn {
  font-size: 2.5rem;
  border-radius: 0.5rem;
  background: var(--green);
  color: #fff;
  padding: 1rem 1.5rem;
  cursor: pointer;
  display: none;
}

.home {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding-top: 10rem;
  background-color: white;
}

.home .image {
  flex: 1 1 45rem;
}

.home .image img {
  width: 100%;
}

.home .content {
  flex: 1 1 45rem;
}

.home .content h3 {
  font-size: 4.5rem;
  color: var(--green);
  line-height: 1.8;
  text-shadow: var(--text-shadow);
}

.home .content p {
  font-size: 1.7rem;
  color: var(--light-color);
  line-height: 1.8;
  padding: 1rem 0;
  text-align: justify;
}
.content p {
  text-align: justify;
  width: bold;
  font-size: 15px;
  word-spacing: 1.5;
}
.icons {
  border-color: #444;
}

.icons-container {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.icons-container .icons {
  border: var(--border);
  box-shadow: var(--box-shadow);
  border-radius: 0.5rem;
  text-align: center;
  padding: 2.5rem;
  border-color: #47a8e5;
  background-color: #47a8e5;
}

.icons-container .icons i {
  font-size: 4.5rem;
  color: white;
  padding-bottom: 0.7rem;
}

.icons-container .icons h3 {
  font-size: 4.5rem;
  color: white;
  padding: 0.5rem 0;
  text-shadow: var(--text-shadow);
}

.icons-container .icons p {
  font-size: 1.7rem;
  color: white;
}

.about .row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.about .row .image {
  flex: 1 1 45rem;
}

.about .row .image img {
  width: 100%;
}

.about .row .content {
  flex: 1 1 45rem;
}

.about .row .content h3 {
  color: var(--black);
  text-shadow: var(--text-shadow);
  font-size: 4rem;
  line-height: 1.8;
}

.about .row .content p {
  color: var(--light-color);
  padding: 1rem 0;
  font-size: 1.5rem;
  line-height: 1.8;
}

.services .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
  gap: 2rem;
}

.services .box-container .box {
  background: #47a8e5;
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
  border: var(--border);
  padding: 2.5rem;
}

.services .box-container .box i {
  color: white;
  font-size: 5rem;
  padding-bottom: 0.5rem;
}

.services .box-container .box h3 {
  color: white;
  font-size: 2.5rem;
  padding: 1rem 0;
}

.services .box-container .box p {
  color: white;
  font-size: 1.4rem;
  line-height: 2;
}
.doctors p {
  text-align: justify;
  font-size: 15px;
  width: bold;
  color: #444;
  line-height: 1.8;
}

.doctors .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem;
}
.about b {
  color: #444;
}

.doctors .box-container .box {
  text-align: center;
  background: #fff;
  border-radius: 0.5rem;
  padding: 2rem;
}

.doctors .box-container .box img {
  height: 20rem;
  border-radius: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.doctors .box-container .box h3 {
  color: var(--black);
  font-size: 2.5rem;
}
.doctors .box-container .box .share {
  padding-top: 2rem;
}
/* appointment starts */

/* appointment ends */

footer {
  color: #444;
  padding: 20px 0;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  font-size: 15px;
}
.footer footer-content a:hover {
  color: #444;
  max-width: bold;
}
.footer a:hover {
  color: #444;
  max-width: bold;
  transition: 0.3 sec;
}
.footer-logo img {
  max-width: 100px;
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links li {
  margin: 5px 0;
}

.footer-links a {
  text-decoration: none;
  color: #444;
  font-size: 15px;
  width: bold;
}

.footer-contact p {
  margin: 5px 0;
}


.footer-social ul {
  list-style: none;
  padding: 0;
  display: flex;
}

.footer-social li {
  margin-right: 10px;
}

.footer-social img {
  max-width: 20px;
}
/* styles.css */
body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

.reviews {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.review {
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 20px;
  flex: 1;
  transition: transform 0.2s;
  margin: bottom 20px;
}

.review:last-child {
  margin-right: 0;
}
#user-greeting {
  font-size: 20px;
  color: #222; /* Blue color, you can change this */
}

.reviewer-info {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.reviewer-info img {
  max-width: 40px;
  min-height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.review-text {
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

.review:hover {
  transform: translateY(-5px);
}

/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap"); */

body {
  font-family: "Poppins", sans-serif;
  /* background-color: #f3f3f3; */
  margin: 0;
  padding: 0;
  border-color: #47a8e5;
  padding: 20px;
}
span {
  color: #47a8e5;
}

.container {
  width: 90%;
  /* background-color: #f3f3f3; */

  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  /* box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); */
  border-radius: 5px;
}

h1 {
  font-size: 28px;
  color: #333;

  text-align: center;
}

label {
  display: block;
  font-weight: bold;
  margin-top: 15px;
}
select {
  width: 49.5%;
  padding: 10px;
  border-radius: 5px;
  margin-top: 5px;
  border-color: #47a8e5;
}
input {
  width: 48%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 5px;
  border-color: #47a8e5;
}

button {
  width: 50%;
  padding: 10px;
  background: #47a8e5;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

button:hover {
  background: darkblue;
}

.confirmation {
  display: none;
  margin-top: 20px;
}

.confirmation h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

.confirmation p {
  font-size: 18px;
  margin-top: 5px;
}

.button-group {
  display: flex;
  justify-content: space-between;
}

.button-group button {
  padding: 10px;
}
/* media queries  */
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  .header {
    padding: 2rem;
  }


  section {
    padding: 2rem;
  }
}

@media (max-width: 768px) {
  #menu-btn {
    display: initial;
  }

  .header .navbar {
    position: absolute;
    top: 115%;
    right: 2rem;
    border-radius: 0.5rem;
    box-shadow: var(--box-shadow);
    width: 30rem;
    border: var(--border);
    background: #fff;
    transform: scale(0);
    opacity: 0;
    transform-origin: top right;
    transition: none;
  }

  .header .navbar.active {
    transform: scale(1);
    opacity: 1;
    transition: 0.2s ease-out;
  }

  .header .navbar a {
    font-size: 2rem;
    display: block;
    margin: 2.5rem;
  }
}
/* Styles for mobile menu, initially hidden */
.mobile-menu {
  display: none;
  background-color: #47a8e5;
  color: #fff;
  text-decoration: none;
  text-align: center;
  position:fixed;
  padding-right:150px;
  top: 60px;
  left: 0;
  width: 100%;
  padding: 10px 0;
}

/* Media query for screens smaller than 768px (typical for mobile devices) */
@media (max-width: 768px) {
  .navbar {
      display: none; /* Hide the desktop menu */
  }

  .mobile-menu {
      display: block; /* Display the mobile menu */
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}
  @media (min-width: 319px) and (max-width: 480px) {
     p{
        text-align:center;
        /* padding:0 1em; */
        line-height:0.5;
        text-shadow: #444;
     }
     .section{
      padding:0 5rem;
     }
       .reviews {
    flex-direction: column; /* Stack reviews vertically */
  }

  .review {
    margin-right: 0; /* No margin on mobile */
    margin-bottom: 20px; /* Add some margin between reviews */
    transition: transform 0.2s;


  }
  .footer-contact p{
    flex-direction: column;
    margin-bottom: 20px;
    padding-left:15px;
  }
  .image img{
    max-height:300px; /* Adjust the image size for mobile devices */
}

  
}
  @media (min-width: 481px) and (max-width: 1200px) {
    .rev{
       max-width:100%;
    }
    .reviews{
        max-width:150%;
    }    
    .review{
      max-width:31%;
    }
    h3{
          text-align:justify;
    }
 
    p{
       text-align:justify;
       padding:0 2em;
       line-height:0.5;
    }
 }
 /* Media query for screens smaller than 768px (typical for mobile devices) */
@media (max-width: 768px) {
  .footer {
    position: relative; /* Ensure the footer is visible even on small screens */
  }
}

/* Media query for screens larger than 768px (typical for laptops and desktops) */


